.header {
  align-items: center;
  padding: 15px 50px;
  background-color: #c0d9dd; /* un azul claro como en la imagen */
  font-family:"Rubik", sans-serif;
  font-size: 35px;
  font-weight:600px;
  color: #2c2c2c;
  text-shadow: 2px 2px 5px rgb(125, 116, 116)
}
.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
 
}
.menu-container .parra {
    font-size: 30px;
   width: 30%;
}
.menu-container h2{
    font-size: 45px;
    margin:0px;
}
.button-group .farma-img {
    width: 100px;
    margin-bottom: 10px;
}

.menu-button:hover {
  background-color: #004d40;
  transform: scale(1.05);
}