body, .body-light {
  background-color: #e0e0e0; /* Gris claro */
  margin: 0;
  font-family: Arial, sans-serif;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 20px;
  min-height: 100vh;
}

.prescrip-form {
  background: #c0d9dd;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 700px;
}

.prescrip-form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

.prescrip-form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.prescrip-form button {
  margin-top: 25px;
  width: 100%;
  padding: 12px;
  background-color: #00838f;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  transition: background 0.3s ease;
}

.prescrip-form button:hover {
  background-color: #004d40;
  transform: scale(1.05);
}

.tabla-container {
  margin-top: 30px;
  overflow-x: auto;
}

.medicamento-table {
  width: 100%;
  border-collapse: collapse;
}

.medicamento-table th,
.medicamento-table td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: center;
}

.medicamento-table th {
  background-color: #b2dfdb;
}

.medicamento-table td {
  background-color: #e0f2f1;
}
